<VirtualHost *:443>
  ServerName {{domain}}
  ServerAdmin {{admin_email}}

  Include /etc/apache2/site-includes/letsencrypt_ssl.conf
  DocumentRoot /var/www/html

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory /usr/lib/cgi-bin>
    SSLOptions +StdEnvVars
  </Directory>
</VirtualHost>

# vim: syntax=apache et ts=2 sw=2 sts=2 sr
